<h1>Listando administradores</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">EMAIL</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
        <tr>
            <td><%= admin.id %></td>
            <td><%= admin.email %></td>
            <td class="float-right">
                <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-minus"></i></button>
            </td>
        </tr>
    <% end %>
  </tbody>
</table>
